.para1{font-size: 0; text-align:left; padding-bottom:6px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style3{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 font-style: italic;
 word-wrap: break-word;}
.Style4{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style5{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 font-style: italic;
 word-wrap: break-word;}
.para6{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style7{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.Style8{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 margin:0;
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.Style9{font-family:  'Helvetica' ,sans-serif ;
 font-size: 20px;
 vertical-align: -6px;
 font-weight:normal; 
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.linkStyle_10{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.linkStyle_10:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_10:hover{color:#FF2600; text-decoration:underline;}
.Style13{font-family:  'Georgia-Bold', 'Georgia' ,serif ;
 font-size: 24px; 
 font-weight:700; 
 margin:0;
 text-decoration: underline;
 word-wrap: break-word;}
.para14{font-size: 0; text-align:center; padding-bottom:6px; margin-top:0px; padding-top:0px;}
.Style15{font-family:  'Georgia-Bold', 'Georgia' ,serif ;
 font-size: 24px; 
 font-weight:700; 
 text-decoration: underline;
 word-wrap: break-word;}
.para16{font-size: 0; text-align:left; padding-bottom:0px; padding-top:4px;}
.linkStyle_17{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FF #FF2600 */
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.linkStyle_17:visited{color:#0432FF; text-decoration:underline;}
.linkStyle_17:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_20{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:normal; 
 margin:0;
 text-decoration: underline;
 color: #0432FF;
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.linkStyle_20:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_20:hover{color:#FF2600; text-decoration:underline;}
.Style4:visited{color:#FEFB00; text-decoration:underline;}
.Style4:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_25{font-family:  'Georgia' ,serif ;
 font-size: 20px; 
 font-weight:normal; 
 margin:0;
 text-decoration: underline;
 color: #0432FF;
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.linkStyle_25:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_25:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_28{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_28:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_28:hover{color:#FF2600; text-decoration:underline;}
.Style31{font-family:  'Georgia' ,serif ;
 font-size: 20px; 
 font-weight:normal; 
 margin:0;
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.Style32{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style33{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 margin:0;
 text-decoration: underline;
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.Style34{font-family:  'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 text-decoration: underline;
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.Style35{font-family:  'Helvetica-Bold', 'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.Style36{font-family:  'Helvetica-Bold', 'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_37{font-family:  'Helvetica-Bold', 'Helvetica' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FE #FF2600 */
 background-color: #FEFEFF; 
 word-wrap: break-word;}
.linkStyle_37:visited{color:#0432FE; text-decoration:underline;}
.linkStyle_37:hover{color:#FF2600; text-decoration:underline;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}